    <!-- LOGIN WIDGET -->
    <div id="loginWidget" class="loginBox">
      <div class="loginLink"<%= link_not_form ? "" : ' style="display:none"' %>>
        <a href="/special/login" id="login_link">log in</a>
      </div>
      <div class="loginForm"<%= link_not_form ? ' style="display:none"' : "" %>>
        <form action="/special/login" method="post">
          <p>Name or Email: <input id="login_name_or_email" name="name_or_email" type="text" value="" /></p>
          <p>Password: <input id="login_password" name="password" type="password" value="" /></p>
          <p><input type="submit" name="submit" value="Log me in" /></p>
        </form>
      </div>
    </div>
