    <!-- REMIND PASSWORD WIDGET -->
    <div id="remindPasswordWidget" class="loginBox">
      <div class="loginLink"<%= link_not_form ? "" : ' style="display:none"' %>>
        <a href="/special/remind_password">forgot password?</a>
      </div>
      <div class="loginForm"<%= link_not_form ? ' style="display:none"' : "" %>>
        <form action="/special/remind_password" method="post">
          <p>My Email Address: <input id="remind_password_email_to_remind" name="email_to_remind" type="text" value="" /></p>
          <p><input type="submit" name="submit" value="Send me a password reminder email" /></p>
        </form>
      </div>
    </div>
