    <!-- SIGNUP WIDGET -->
    <div id="signupWidget" class="loginBox">
      <div class="loginLink"<%= link_not_form ? "" : ' style="display:none"' %>>
        <a href="/special/signup" id="signup_link">sign up</a>
      </div>
      <div class="loginForm"<%= link_not_form ? ' style="display:none"' : "" %>>
        <form action="/special/signup" id="loginForm" method="post">
          Full Name: <input id="name" name="name" type="text" value="" /><br />
          Email: <input id="email" name="email" type="text" value="" /><br />
          Password: <input id="password" name="password" type="password" value="" /><br />
          Retype Password: <input id="password_verify" name="password_verify" type="password_verify" value="" /><br />
          <input type="submit" name="submit" value="Create my account">
        </form>
      </div>
    </div>
